*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
img{
    max-width: 100%;
}
svg{
    fill: white;
    width: 20%;
}
a{
    text-decoration: none;
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: black;
}
header{
    margin-top: 1%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 30px;
}
nav>div{
    display: flex;
    text-align: center;
    align-items: center;

}
nav>div:nth-child(2){
    display: flex;
    justify-content: space-evenly;

}
nav label{
    color: white;
    font-size: 40px;
    margin: 15px;
}



.boton{
    border-radius: 30px;
    border: 3px solid white;
    color: white;
    padding: 10px 50px;
    font-weight: bolder;
}
.boton:hover{
    background-color: white;
    color: black;
    transition: 1s;
}
.boton2{
    border-radius: 30px;
    border: 3px solid red;
    color: white;
    padding: 10px 30px;
    margin: 0px 20px;
    font-weight: bolder;
    background-color: red;
}
.boton2:hover{
    background-color: rgb(247, 172, 33);
    border: 3px solid rgb(247, 172, 33);
    color: black;
    transition: 1s;
}


#s1{
   
    align-items: center;
    height: 90vh;
    width: 100%;

}
.container{
    
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
}
.ani{
    height: 13vh;
    width: 100%;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.fila {
    display: flex;
    width: 100%;
    
}
.filaI{
    display: flex;
    width: 100%;
    
}
.direccion{
    display: flex;
}
.palabra{
    color: white;
}
.palabra2{
    fill: white;
}
@keyframes mover-lado {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}
.animacion{
    animation-name: mover-lado; 
    position: relative;
    animation-duration: 3s; 
    animation-timing-function: ease-out; 
    animation-iteration-count: infinite;
    z-index: 1;

}
.vid{
    position: absolute;
    z-index: 2;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}


#s2{
    background-image: url(./img/imagenes/Carrusel_2x1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    height: 80vh;
    width: 100%;
    padding:100px;
}
#s2>div{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 60vh;
    justify-content: space-between;
    
}
.derec{
    display: flex;
    justify-content: end;
}
.derec a{
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}
.abajo{
    display: flex;
    flex-flow: column;
    justify-content: end;
    color: white;
}

.carta{
    background-image: url(./img/fondoC.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;
}