@font-face {
    font-family: "letra";
    src: url(./Knockout-HTF33-JuniorHeviwt.291432cdf9638ce91c1d.woff2);
    
}
@font-face {
    font-family: "letra2";
    src: url(./Knockout-HTF73-FullHeviweight.386a901fd564bd4a47c7.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
img{
    max-width: 100%;
}
svg{
    fill: white;
    width: 20%;
}
p{
    font-size: 15px;
    font-weight: normal;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-family: "letra";
}
body {
    background-color: black;
}
header{
    margin-top: 1%;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}
nav>div{
    display: flex;
    text-align: center;
    align-items: center;

}
nav>div:nth-child(2){
    display: flex;
    justify-content: space-evenly;

}
nav label{
    color: white;
    font-size: 40px;
    margin: 15px;
}



.boton{
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    padding: 10px 50px;
    font-weight: bolder;
}
.boton:hover{
    background-color: white;
    color: black;
    transition: 1s;
}
.boton2{
    border-radius: 30px;
    border: 2px solid red;
    color: white;
    padding: 10px 30px;
    margin: 0px 20px;
    font-weight: bolder;
    background-color: red;
}
.boton2:hover{
    background-color: rgb(247, 172, 33);
    border: 2px solid rgb(247, 172, 33);
    color: black;
    transition: 1s;
}
#s1{
    height: 100vh;
    margin-bottom: 5%;
}

.vid{
    background-image: url(./img/fondoL.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
#s2{
    background-image: url(./img/imagenes/Carrusel_2x1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    padding:100px;

}
#s2>div:nth-child(1){
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 60vh;
    justify-content: space-between;
    
}
.derec{
    display: flex;
    justify-content: end;
}
.derec a{
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}
.abajo{
    display: flex;
    flex-flow: column;
    justify-content: end;
    color: white; 
    font-family: "letra2";  
}
.abajo h2{
    
    font-size: 100px;
    font-weight: bolder;
}
.abajo a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.carta{
    background-image: url(./img/fondoC.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;
    
}
.gris{
    color: lightslategray;
    font-size: 20px;
}
#s3{
    margin-bottom: 5%;
}
#s3>div:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1%;
}
#s3>div>div{
    width: 29%;
    margin: 1%;   
    text-align: justify;
}
#s3 a{
    font-size: 30px;
    font-family: "letra2"; 
    font-weight: bold; 
}
#s3 p{
    font-size: 20px;
    font-family: "letra"; 
    font-weight: bold; 
}
.borde{
    border: 3px solid white;
    border-radius: 3%;
}

.contador{
    text-align: center;
    font-size: 30px;
    font-family: "letra2"; 
    font-weight: bold; 
    color: white;

}
.contador h2{
    margin: 3%;
}
.moneda{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    padding-bottom: 6%;
    justify-content: center;
    background: linear-gradient(black, #800000);  
    border-radius: 30px;
}
.moneda>div{
    width: 30%;
}

.moneda div:nth-child(2)>p{
    padding-bottom: 2%;

    font-size: 15px;
    font-family: "letra";

    color: white;
}
.moneda div:nth-child(2)>h2{
    font-size: 70px;
    font-family: "letra2"; 
    font-weight: bold; 
    color: white;
    line-height: 1;
}
.moneda a{
    line-height: 3;
}

#s4{
    position: relative;
    display: flex;
    height: 70vh;
    overflow: hidden;
    background: linear-gradient(transparent ,black);
}
#s4>div:nth-child(1){
    
}
.video{
    width: auto;
    position: absolute;
}
.abajo2{
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: end;
    left: 50px;
    bottom: 50px; 
    line-height: 1.5;
}
.abajo2 h2{
    font-size: 70px;
    font-weight: bolder;
    font-family: "letra2";
    color: white;
}
.abajo2 p{
    font-size: 17px;
    font-family: "letra";
    color: white;
    width: 99%;
}
.abajo2 a{
    font-size: 30px;
    font-weight: bold;
    font-family: "letra2";
    color: white;
}




#s5{
    padding-bottom: 3%;
    color: white;
}
#s5 >div{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#s5>div:nth-child(1){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#s5>div:nth-child(1)>div:nth-child(1){
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 35%;
    height: 70vh;
}
#s5>div:nth-child(1)>div:nth-child(1)>h2{
    font-size: 70px;
    font-weight: bolder;
    font-family: "letra";
    line-height: 0.9;
    padding-left: 50px;
}
#s5>div:nth-child(1)>div:nth-child(1)>p{
    width: 35%;
    padding-left: 50px;
    font-size: 16px;
    font-family: "letra";
}
.boton3{
    width: 36%;
    padding: 10px;
    border: 3px solid white;
    border-radius: 30px;
    margin-left: 50px;
}
.boton3:hover{
    background-color: white;
    color: black;
    transition: 1s;
}
#s5>div:nth-child(1)>div:nth-child(2){
    width: 65%;
}
#s5>div:nth-child(3){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;

}
#s5>div:nth-child(3)>div{
    width: 29%;
    margin: 1%;   
    text-align: justify;  
}
#s5>div:nth-child(3)>div>p{
    font-size: smaller;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "letra";
}
#s5>div:nth-child(3)>div>a{
    font-size: x-large;
}
#s5>div:nth-child(3)>div:hover>a{
    text-decoration: underline;
}
footer{
    background-color: white;
    padding-top: 4%;
    padding-left: 4%;
    display: flex;
}
footer svg{
    fill: black;
    width: 35%;
}
footer > div:nth-child(2){
    width: 100%;
}
footer p{
    color: black;
}
footer>div:nth-child(2){
    display: flex;
    justify-content: end;
}
footer>div:nth-child(2)>div:nth-child(1){
    width: 35%;
    margin-right: 100px;
}
footer>div:nth-child(2)>div:nth-child(2){
    width: 30%;
}
footer>div>div:nth-child(1)>p{
    
    font-size: 50px;
    font-family: "letra2"; 
    font-weight: bold; 
    line-height: 1.2;
}
footer>div>div:nth-child(1)>p:hover{
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: bolder;
    
}
footer>div>div:nth-child(2)>p{
    
    font-size: 30px;
    font-family: "letra"; 
    font-weight: bold; 
    line-height: 1.2;
}
footer>div>div:nth-child(2)>p:hover{
    text-decoration: underline;
}

@media (max-width: 1080px) {
    header .boton:nth-child(1) {
        padding: 10px 10px;
    }
    header .boton:nth-child(3){
        padding: 5px 10px;
    }
    #s1 video{
        width: 100%;
    }
    #s3>div>div{
        width: 80%; 
    }
    .moneda>div:nth-child(1){
        width: 100%;
        text-align: center;
    }
    .moneda>div:nth-child(2){
        width: 86%;
    }
    #s5>div:nth-child(1)>div:nth-child(1){
        width: 100%;
    }
    #s5>div:nth-child(1)>div:nth-child(2){
        width: 100%;
    }
    #s5>div:nth-child(3)>div{
        width: 80%;
    }
    footer{
        flex-wrap: wrap;
    }
    footer>div:nth-child(2) {
        display: flex;
        justify-content: space-between;
    }

}
@media (max-width: 1500px) {
    footer{
        flex-wrap: wrap;
    }
    footer>div:nth-child(2) {
        display: flex;
        justify-content: space-between;
    }
}